<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<title> <%= @title %> </title>
</head>
<body>
    <%= erb (:"partials/navigation") %>

<!-- content injected here -->
    <%= yield %>

</body>
</html>